body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
  background-color: #e4e4e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minesweeper{
  width: 500px;
  height: 600px;
  

}

.title{
  text-align: center;
  margin: 0;
}

.board-head{
  height: 60px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  background-color: #f7f4f4;
}

.reset,
.flag-count,
.timer{
  width: 55px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset{
  font-size: 20px;
  width: 80px;
}

.board{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-bottom: none;
}

.board .row{
  display: flex;
  height: 50px;
}

.board .row:last-child{
  border-bottom: none;

}

.open{
  border: none;
  background-color: plum;
}

.open:hover{
  background-color: plum;
}

.board .row .cell {
  border: 1px solid black;
  width: 100%;
}

.cell:hover{
  background-color: aquamarine;
}



.board .row .cell:last-child{
  border-right: none;
  
}